<!DOCTYPE html>
{% extends "mypage/header.html" %}

{% block content %}
{% load staticfiles %}
<a id="about_me_section"></a>
<section id="about_me">
  <div class="row section-body">
    <div class="col-md-6">
      <p class="lead text-center">
        <strong>Hello, I'm Yuhua!</strong>
      </p>
      <hr>
      <p style="font-size: 15px">
        I love data. Especially BIG DATA. Not small data, but BIG DATA.
        As our world gets more and more complex, it is crucial that we make the most
        of the data that we generate in order to truly understand and predict the state of
        the world today, tomorrow, and to infinity and beyond!
      </p>
      <hr>
      <p class="lead">
        Education: <br> Masters Student in Computer Science <br> Rutgers University
        <br><br>
        Interests: <br> Data/Visual Analytics and Data Science
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'mypage/img/myface.jpeg' %}"
      alt="A swag picture of me" class="img-responsive img-circle"/>
    </div>
  </div>
</section>
{% endblock %}
