<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yuhua's Page</title>
    {% load staticfiles %}
    <script src="{% static 'mypage/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'mypage/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mypage/js/main.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'mypage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mypage/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mypage/css/bootstrap-social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mypage/css/main.css' %}">
  </head>
  <body>
    <header id="banner">
      <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- Helps for mobile display by collapsing the entire navbar -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target_navbar-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Yuhua Ni</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="target_navbar-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">About Me</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: #FFFFFF">
                  <li><a href="/tree_data">NYC Tree Data</a></li>
                  <li><a href="#">Project 2</a></li>
                  <li><a href="#">Project 3</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Project Summaries</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="container" style="height: 80%">
      {% block content %}
      {% endblock %}
    </main>
    <a id="contact_section"></a>
    <section id="contact">
      <div class="row">
        <p class="lead text-center" style="font-size: 25px; color: #444444; margin: 5px">
          <strong>Contact / Social Media</strong>
        </p>
        <hr style="background-color: grey">
        <div class="row text-center">
          <p>
            <u>Email: yuhuani50@gmail.com</u>
          </p>
        </div>
        <div class="row text-center" style="padding: 30px">
          <a href="https://www.linkedin.com/in/yuhuani" class="btn btn-social-icon btn-linkedin btn-lg">
            <span class="fa fa-linkedin"></span>
          </a>
          <a href="http://www.github.com/yohoos" class="btn btn-social-icon btn-github btn-lg">
            <span class="fa fa-github"></span>
          </a>
          <a href="https://www.facebook.com/yuhua.ni.5" class="btn btn-social-icon btn-facebook btn-lg">
            <span class="fa fa-facebook"></span>
          </a>
        </div>
      </div>
    </section>
    <div class="container-fluid">
      <div id="footer" class="row text-center">
        <p class="lead" style="margin: 0px">
          Thank you for visiting!
        </p>
      </div>
    </div>
  </body>
</html>
