<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>dj-angular</title>
    </head>

    <body ng-app="demoapp">
        <h1>Django Angular</h1>

        <div ng-controller="DemoCtrl">
            <div class="data">
            </div>
            <button ng-click='save()'>Click</button>
        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    </body>

</html>

