<!DOCTYPE html>
{% extends "portfolio/header.html" %}

{% block content %}
<a id="about_me_section"></a>
<section id="about_me">
  <div class="row section-body">
    <div class="col-md-6">
      <p class="lead text-center">
        <strong>Hello, I'm Yuhua!</strong>
      </p>
      <hr>
      <p style="font-size: 15px">
        I don't know about you, but I think this world is amazing and I love learning new things about it each day.
        I'm grateful to be born in the information age, where I now have access to near endless data and a variety of tools
        that can help me explore it. We can now learn not only more efficiently, but also
        on a whole new scale with the help of modern technology. I hope to pursue a career where I can harness the ability
        to explore and learn from large, exciting datasets to produce amazing new discoveries.
      </p>
      <hr>
      <p class="lead">
        Education: <br> Masters Student in Computer Science <br> Rutgers University
        <br><br>
        Interests: <br> Data/Visual Analytics and Data Science
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/11393033_10153130399103598_5409730347424123268_n.jpg?oh=d8f5b96157c73355a713a735341e7c0c&oe=57C176CA"
      alt="A swag picture of me" class="img-responsive img-circle"/>
    </div>
  </div>
</section>
{% endblock %}
