<!DOCTYPE html>
{% extends "portfolio/header.html" %}

{% block content %}
<a id="projects"></a>
<section id="portfolio">
  <div class="row section-body">
    <p class="lead text-center" style="font-size: 30px; color: #444444">
      <strong>My Projects</strong>
    </p>
    <hr>
    <div id="project-imgs" class="row" style="padding: 50px">
      <div class="col-md-6">
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
      </div>
      <div class="col-md-6">
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
        <img src="http://dummyimage.com/600x400/000/fff" alt="dummy" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
