#about_me {
  border-radius: 20px 20px 0 0;
  background-color: #FCD059;
}

#portfolio {
  background-color: #EDEDEA;
}

#contact {
  background-color: #BFE1BF;
}

.section-body {
  color: #333333;
  padding: 70px;
}

hr {
  border: none;
  height: 5px;
  background-color: #444444;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer {
  padding: 20px;
  color: white;
  background-color: #888888;
}

canvas {
  filter: blur(1px);
  position: absolute;
  height: 100%;
}

body {
  background-image: linear-gradient(to top, #0B2E59 -10%, #69D2E7 20%, #6fDaEF 80%, #fffabb 105%);
  position: relative;
  background-color: #DE5842;
}
